/*
green = #1abc9c
green-dark = #16a085
grey = #f2f2f2
grey-dark = #555555
*/

/*
Bootstrap base overide
*/

body{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

p{
    color:#555;
}

h1,h2,h3,h4,h5{
  color:black;
}

.navbar-inverse{
  background-color:#1abc9c;
  border:none;
  border-radius:0px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom:60px;
  border-bottom:1px solid #16a085;
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
  text-transform: uppercase;
}

.navbar-inverse .navbar-brand{
  color:white;
}

.container-full-width{
  padding-left:0px;
  padding-right:0px;
}

/*
Home
*/

.claim h1{
  font-weight:bold;
}

.claim .lead{
  margin-top:20px;
  margin-bottom:20px;
  font-size:16px;
}

/*
Latest Posts
*/


.last-posts{
  margin-top:60px;
}

.last-posts .post{
  min-height: 250px;
  background-color:#cdcdcd;
  text-align:center;
  color:white;
}

.last-posts .post h2{
  font-weight:normal;
}

/*.last-posts .post{
  background-color:#1abc9c;
}

.last-posts .post:nth-child(even){
  background-color:#16a085;
}*/

.post a,
.post h2{
  color:white;
  color:rgba(255,255,255,0.9);
}
.post h2 span{
  color:rgba(255,255,255,0.4);
}

.post.dis{
  background-color:#16a085;
  border:1px solid rgba(22,160,133,0.8);
}

.post.dis:nth-child(odd){
  background-color:#1abc9c;
}

.post.order{
  background-color:#0085a1;
  border:1px solid rgba(0,120,146,0.8);
}

.post.order:nth-child(even){
  background-color:rgba(0,133,161,0.85);
}


.tag .post h2{
  margin:40px 0px;
}

.tag h1{
  margin:40px 0px;
  color:#666;
}
.tag .navbar{
  margin-bottom:0px;
}

.vcenter{
    padding: 25px;
    width: 90%;
    height: 170px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



/*
Pagination
*/

.pag a{
  display:block;

  min-height: 100px;
  text-align: center;
  line-height: 100px;
}
.pag .next{
    border-left: 1px solid #eee;
  }
.pag .prev{
    border-right: 1px solid #eee;
  }



/*
resp images and videos
*/
iframe,embed,img,video{
  max-width:100% !important;
}


.fluid-width-video-wrapper{
  margin-top:2em;
  margin-bottom:2em;
}