	<!-- Google Analytics -->
	<%= google_analytics_tag %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- Fitvids -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>

	<script>
	  $(document).ready(function(){
	    // Target your .container, .wrapper, .post, etc.
	    $("body").fitVids();
	  });
	</script>

  </body>
</html>