<div class="container-fluid container-full-width last-posts">
<% page_articles[0...9].each_with_index do |article, i| %>
  <% link_to article do %>
    <article class="col-md-4 post <%= classes_from(article) %>">
      <div class="vcenter">
        <h2 class="h3"><%= article.title %></h2>
        <span><%= article.date.strftime('%e %b \'%y') %></span>
      </div>
    </article>
  <% end %>
<% end %>
</div>