<div class="container-fluid container-full-width last-posts">
<% page_articles[0...8].each_with_index do |article, i| %>
  <% link_to article do %>
    <div class="col-md-4 post">
      <div class="vcenter">
        <h2 class="h3"><%= article.title %></h2>
        <span><%= article.date.strftime('%b %e') %></span>
      </div>
    </div>
  <% end %>
<% end %>
</div>