<header id="branding" role="banner">
    <hgroup>
      <h1 id="site-title"><span><a href="" title="" rel="home">Javi Fernández</a></span></h1>
    </hgroup>

    <nav id="access" role="navigation">
      <ul>
        <li><%= link_to 'Articles', tag_path("articles") %></li>
        <li><%= link_to 'Notes', tag_path("notes") %></li>
        <li><%= link_to 'Info', '/info.html' %></li>
      </ul>
    </nav><!-- #access -->
</header><!-- #branding -->
