---
pageable: true
per_page: 10
last_posts: true
---

<div class="col-md-8 col-md-offset-2 claim">

  <%= image_tag 'skull.png', class: "center-block" %>
  <h1 class="text-center h2">Hi! I'm Javi Fernández</h1>
  <p class="lead text-center">I'm a tech enterpreneur and musician based in Barcelona.<br/>
  Investing a lot of my time at <a href="https://loyal.guru" target="_blank">Loyal Guru</a>, a company I co-founded.<br/>
  I’ve released three albums and toured several times around with my band <a href="http://www.somoscyan.com" target="_blank">Cyan</a>.</p>

</div>